@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  height: 100%;
  background-color: #0d3158;
  background-image: url(../images/chip.svg);
  /* Image from: https://opengameart.org/content/seamless-microscheme-texture */
  background-size: 250px;
  padding: 20px;
  transition: background-color .15s ease-out;
}

body.show-story {
  background-color: #3c1912;
}

.show-story .form {
  display: none;
}

.show-story .story {
  display: block;
}

.story {
  display: none;
}

button {
  font-size: 1em;
  line-height: 15px;
  padding: 8px 22px 9px 22px;
  box-sizing: border-box;
  font-weight: 700;
  border: solid 3px white;
  color: white;
  background: transparent;
  border-radius: 30px;
  transition: all ease-out .2s;
  cursor: pointer;
  outline: none;
}

form {
  margin-bottom: 2em;
}

button:hover {
  transform: scale(1.03);
  background: rgba(255,255,255,.1);
}

button:active {
  transform: scale(.97);
}

.directions {
  opacity: .8;
}

h1, h2 {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top:0;
  font-size: 2em;
  font-size: 600;
}

h2 {

  font-size: 1.5em;
  margin-bottom: 1.5em;
  font-weight:400;
}

input {
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

p {
  color: #fff;
  font-family: 'Zilla Slab', serif;
  font-size: 1.125em;
  font-weight:300;
  text-shadow: 1px 1px 10px #001525;
}

#story-space {
}

/*Typography*/

/* Mozilla license info */

.license {
  position: fixed;
  right: 15px;
  bottom: 14px;
  font-size: 13px;
  color: white;
  color: rgba(255,255,255,.4);
}

.license a {
  margin-left: 5px;
}

.license img {
  width: 60px;
  opacity: .4;
  position: relative;
  top: 3px;
  transition: opacity .2s ease-out;
}

.license img:hover {
  opacity: .6;
}

.story [class*=word] {
  background: rgba(255,255,255,.2);
  padding: 0 5px;
  border-bottom: dotted rgba(255,255,255,.3) white;
}

.story p {
  font-size: 2em;
}