/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 15px 10px 50px 10px;
  background-color: #0d3158;
  background-image: url(images/chip.svg);
  background-repeat: repeat;
  background-size: 200px;
}

.title {
  color: white;
  text-align: center;
  margin: 0 0 5px 0;
  font-size: 22px;
}

p {
  color: white;
  text-align: center;
  opacity: .8;
  margin-bottom: 40px;
  margin: 0 auto 35px auto;
  max-width: 600px;
  font-size: 16px;
}

.card {
  background-color: #2a79d0;
  border: solid 10px #000000;
  width: 280px;
  padding: 8px 12px 55px 12px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  transition: all ease-out .2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.04) translateY(-5px) translateX(-5px);
  box-shadow: 12px 12px 10px rgba(0,0,0,.2);
}

.name {
  font-size: 18px;
  color: white;
  width: 75%;
  position: relative;
  padding: 0;
  margin: 0 0 10px 0;
}

.cost {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 8px 20px 7px 15px;
  position: absolute;
  right: 15px;
  top: 0;
}

.cost img {
  position: absolute;
  right: 0;
  top: 13px;
  width: 14px;
}

.image {
  background-image: url(images/portrait.jpg);
  /* Image from https://opengameart.org/content/an-arith */
  height: 220px;
  background-color: white;
  box-shadow: 0px 3px 0 rgba(0,0,0,.15);
  position: relative;
  background-position: top;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

.type {
  text-transform: uppercase;
  color: rgba(255,255,255,.8);
  font-size: 13px;
  font-weight: 600;
  padding: 10px 0;
  text-align: right;
}

.abilities {
  margin-bottom: 15px;
  background: rgba(255,255,255,.3);
  padding: 3px 12px;
  list-style-type: none;
  margin: 0 0 15px 0;
  border-radius: 3px;
}

.abilities li {
  color: rgba(0,0,0,.7);
  padding: 8px 0;
  font-size: 14px;
  border-bottom: solid 1px rgba(255,2552,255,.2);
}

.abilities li:last-child {
  border: none;
}

.flavor-text {
  font-style: italic;
  font-size: 14px;
}


/* Power and Defense stats at the bottom */

.stat {
  padding: 5px 10px;
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  color: black;
  font-size: 20px;
  background: black;
  color: white;
}

.stat img {
  display: inline;
  height: 18px;
  position: relative;
  top: 1px;
}

.power {
  left: 0px;
}

.defense {
  right: 0;
}

/* Tooltip styles */

.tooltip {
  display: none;
}

.tooltip {
  position: fixed;
  background: rgba(0,0,0,.85);
  color: white;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  padding: 7px 10px 9px 10px;
  z-index: 99999;
  color: rgba(255,255,255,.8);
  animation: tooltipPop .15s ease-out;
  transform-origin: bottom left;
}

@keyframes tooltipPop {
  0%    { transform: scale(.6);  }
  60%   { transform: scale(1.1); }
  100%  { transform: scale(1);   }
}

/* The shine on the card when you hover over it */

.sheen {
  position: absolute;
  top: 0;
  left: -20%;
  width: 140%;
  height: 0%;
  background: white;
  animation: sheen infinite .5s ease-in-out;
  display: none;
  transform: rotate(-7deg);
}

.card:hover .sheen {
  display: block;
  animation: sheen .35s linear 1;
}


@keyframes sheen {
  0% {
    top: -10%;
    height: 0%;
    opacity: 0;
  }
  25% {
    top: -10%;
    height: 20%;
    opacity: .3;
  }
  50% {
    top: 20%;
    height: 50%;
    opacity: .5;
  }
  75% {
    top: 110%;
    height: 20%;
    opacity: .3;
  }
  100% {
    top: 110%;
    height: 0%;
    opacity: 0;
  }
}

/* Mozilla license info */

.license {
  position: fixed;
  right: 15px;
  bottom: 14px;
  font-size: 13px;
  color: white;
  color: rgba(255,255,255,.4);
}

.license a {
  margin-left: 5px;
}

.license img {
  width: 60px;
  opacity: .4;
  position: relative;
  top: 3px;
  transition: opacity .2s ease-out;
}

.license img:hover {
  opacity: .6;
}
